 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
}

@font-face {
    font-family: 'HYWenHei-85W';
    src: url('../font/zh-cn.ttf') format('truetype');
}

body {
    font-family: 'HYWenHei-85W';
    background-image: url(../images/background/abyss-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100vh;
    margin: 0;
    transition: background-image 0.5s ease-in-out;
}

/* Start of Header */
header {
    color: rgba(255, 255, 255, 0.854);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: static;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding: 20px;
    font-size: 25px;
}

header div {
    display: flex;
    flex-direction: row;
}

.middle-section {
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.right-section {
    justify-content: end;
}

.character {
    background: url("../images/icons/characters.jpg") no-repeat;
}

.change-character {
    background-position: -65px 0px;
}

.icon {
    background-size: cover;
    width: 70px;
    height: 70px;
    mix-blend-mode: screen;
}

h1 {
    font-size: 30px;
    font-weight: initial;
    color: white;
}

.logo {
    width: 100px;
    height: 50px;
    padding-bottom: 20px;
    margin-right: 10px;
}

.character {
    height: 80px;
    width: 65px;
}

ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    padding: 0;
}

li {
    margin-left: 1em;
}

/* End of Header */

@media (max-width: 780px) {
    nav.menu {
        flex-direction: column;
    }

    nav.menu a {
        text-align: center;
        padding: 1rem;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
}

.card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: white;
    margin: 40px 65px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 15px black;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.card:hover {
    height: 300px;
}

.card .image {
    position: relative;
    width: 230px;
    height: 230px;
    top: -40%;
    left: 3px;
    box-shadow: 0 5px 15px black;
}

.card .image img {
    max-width: 100%;
}

.card .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: black;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}